body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('./20170114-160651-largejpg.jpg')
}

header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

main {
    padding: 20px;
    display: block;
}

img {
    max-width: 100%;
    align-self: center;
    height: auto;
    margin-left: 400px;
}

.inline-text {
    font-style: italic;
}